TELEGRAM_BOT_TOKEN=8775658847:AAGsMrAu6_YyVD2JHX6N-eZJxDlwavHAvgQ
TELEGRAM_BOT_USERNAME=@TheOddsLabBot
PAID_CHANNEL_ID=-3547325521
FREE_CHANNEL_ID=-5198853652
ADMIN_USER_ID=6707759303
DATABASE_URL=sqlite:///oddslab.db
TIMEZONE=Europe/Berlin
CURRENCY=USD
PAYMENT_PROVIDER_TOKEN=
RAILS_ENV=production